$gray_background:#f7f7f7;
$black: #000000;
$white:#fff;
$title_color: #5f4906;
$title_color_old: #b8860b;
$button: #6b9f7c;
$button_hover: #4b805c;
$white: #ffffff;
$hr_line: #aaa59b;
$btn_delete: #9f998d;
$border: #897948;
$beige: #b6ac8e;
$box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
$link_color:#10b6ef;